#game {
    position: relative;
}

#game_elements {
    position: relative;
}

#game_background {
    background-image: url(produktion/svg/forside_baggrund.svg);
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
}

